##
##      dao.vm - default dao template for C#
##
##      NOTE: this template may have some screwy things in it to EXACTLY match the ouput of the 
##      DaoGenerator class.
##
#if(!$element.SqlEntity.Name.Equals(""))
#nameSpaces($options $element true)

namespace $options.GetDAONameSpace($element.Name) {
    public class $options.GetDAOClassName($element.Name) : $options.DaoBaseClass {

	private static readonly String VIEW = "$element.SqlEntity.View";
	private static readonly String CONNECTION_STRING_KEY = "$element.SqlEntity.Key";
#if($element.SqlEntity.GenerateInsertStoredProcScript || $element.SqlEntity.GenerateUpdateStoredProcScript || $element.SqlEntity.GenerateDeleteStoredProcScript)
	private static readonly Int32 COMMAND_TIMEOUT = $element.SqlEntity.CommandTimeout;
#end

	/// <summary>
	/// Returns a list of all $element.Name rows.
	/// </summary>
	/// <returns>List of $options.GetDOClassName($element.Name) objects.</returns>
	/// <exception cref="Spring2.Core.DAO.FinderException">Thrown when no rows are found.</exception>
	public static IList GetList() { 
	    return GetList(null, null);
	}

	/// <summary>
	/// Returns a filtered list of $element.Name rows.
	/// </summary>
	/// <param name="whereClause">Filtering criteria.</param>
	/// <returns>List of $options.GetDOClassName($element.Name) objects.</returns>
	/// <exception cref="Spring2.Core.DAO.FinderException">Thrown when no rows are found matching the where criteria.</exception>
	public static IList GetList(IWhere whereClause) { 
	    return GetList(whereClause, null);
	}

	/// <summary>
	/// Returns an ordered list of $element.Name rows.  All rows in the database are returned
	/// </summary>
	/// <param name="orderByClause">Ordering criteria.</param>
	/// <returns>List of $options.GetDOClassName($element.Name) objects.</returns>
	/// <exception cref="Spring2.Core.DAO.FinderException">Thrown when no rows are found.</exception>
	public static IList GetList(IOrderBy orderByClause) { 
	    return GetList(null, orderByClause);
	}

	/// <summary>
	/// Returns an ordered and filtered list of $element.Name rows.
	/// </summary>
	/// <param name="whereClause">Filtering criteria.</param>
	/// <param name="orderByClause">Ordering criteria.</param>
	/// <returns>List of $options.GetDOClassName($element.Name) objects.</returns>
	/// <exception cref="Spring2.Core.DAO.FinderException">Thrown when no rows are found matching the where criteria.</exception>
	public static IList GetList(IWhere whereClause, IOrderBy orderByClause) { 
	    SqlDataReader dataReader = GetListReader(CONNECTION_STRING_KEY, VIEW, whereClause, orderByClause); 

	    ArrayList list = new ArrayList(); 
	    while (dataReader.Read()) { 
		list.Add(GetDataObjectFromReader(dataReader)); 
	    }
	    dataReader.Close();
	    return list; 
	}

	/// <summary>
	/// Finds a $element.Name entity using it's primary key.
	/// </summary>
#parameterComments(true $element.GetPrimaryKeyFields() "A key field.")
	/// <returns>A $options.GetDOClassName($element.Name) object.</returns>
	/// <exception cref="Spring2.Core.DAO.FinderException">Thrown when no entity exists witht he specified primary key..</exception>
	public static $options.GetDOClassName($element.Name) Load(#parameterList(true $element.GetPrimaryKeyFields())) {
	    WhereClause w = new WhereClause();
#foreach ($field in $element.GetPrimaryKeyFields())
	    w.And("$field.Column.Name", $options.GetSqlConversion($field));
#end
	    SqlDataReader dataReader = GetListReader(CONNECTION_STRING_KEY, VIEW, w, null);

	    if (!dataReader.Read()) {
		dataReader.Close();
		throw new FinderException("Load found no rows for $element.Name.");
	    }
	    $options.GetDOClassName($element.Name) data = GetDataObjectFromReader(dataReader);
	    dataReader.Close();
	    return data;
	}

	/// <summary>
	/// Builds a data object from the current row in a data reader..
	/// </summary>
	/// <param name="dataReader">Container for database row.</param>
	/// <returns>Data object built from current row.</returns>
	private static $options.GetDOClassName($element.Name) GetDataObjectFromReader(SqlDataReader dataReader) {
	    $options.GetDOClassName($element.Name) data = new $options.GetDOClassName($element.Name)();
#foreach($field in $element.Fields)
#if($field.Column.SqlType.Name.Length>0)
	    if (dataReader.IsDBNull(dataReader.GetOrdinal("$field.Column.Name"))) { 
		data.${field.GetMethodFormat()} = ${field.Type.NullInstanceFormat};
	    } else {
		data.$field.GetMethodFormat() = $options.GetReaderString($field);
	    }
#end
#end

	    return data;
	}
#if($element.SqlEntity.GenerateInsertStoredProcScript)

	/// <summary>
	/// Inserts a record into the $element.SqlEntity.Name table.
	/// </summary>
	/// <param name=""></param>
#set($s="void")
#if($element.GetIdentityField())
#set($s=${element.GetIdentityField().Type.Name})
#end
	public static $s Insert($options.GetDOClassName($element.Name) data) {
	    // Create and execute the command
#set($s="Insert")
	    SqlCommand cmd = GetSqlCommand(CONNECTION_STRING_KEY, "$options.GetProcName($element.SqlEntity.Name, $s)", CommandType.StoredProcedure, COMMAND_TIMEOUT);

#if($element.GetIdentityField())
	    SqlParameter rv = cmd.Parameters.Add("RETURN_VALUE", SqlDbType.Int);
	    rv.Direction = ParameterDirection.ReturnValue;
#end
	    //Create the parameters and append them to the command object
#foreach($field in $element.Fields)
#if(!$field.Column.ViewColumn && $field.Column.Name.Length>0 && !$field.Column.Identity && !$field.Column.RowGuidCol)	    $field.CreateSqlParameter(false, true)#end
#end

	    // Execute the query
	    cmd.ExecuteNonQuery();
	    cmd.Connection.Close();
#if($element.GetIdentityField())
	    // Set the output paramter value(s)
	    return $options.GetProcedureReturnString($element.GetIdentityField());
#end
	}
#end
#if($element.SqlEntity.HasUpdatableColumns() && $element.SqlEntity.GenerateUpdateStoredProcScript)

	/// <summary>
	/// Updates a record in the $element.SqlEntity.Name table.
	/// </summary>
	/// <param name=""></param>
	public static void Update($options.GetDOClassName($element.Name) data) {
	    // Create and execute the command
#set($s="Update")
	    SqlCommand cmd = GetSqlCommand(CONNECTION_STRING_KEY, "$options.GetProcName($element.SqlEntity.Name, $s)", CommandType.StoredProcedure, COMMAND_TIMEOUT);

	    //Create the parameters and append them to the command object
#foreach($field in $element.Fields)
#if(!$field.Column.ViewColumn && $field.Column.Name.Length>0)	    $field.CreateSqlParameter(false, true)#end
#end

	    // Execute the query
	    cmd.ExecuteNonQuery();
	    cmd.Connection.Close();
	}
#end
#if($element.SqlEntity.GenerateDeleteStoredProcScript)

	/// <summary>
	/// Deletes a record from the $element.SqlEntity.Name table by#if($element.GetPrimaryKeyFields().Count == 1 && $element.GetPrimaryKeyFields().get_Item(0).Column.Identity) $element.GetPrimaryKeyFields().get_Item(0).Name#else a composite primary key#end.
	/// </summary>
	/// <param name=""></param>
	public static void Delete(#foreach( $field in $element.GetPrimaryKeyFields() )#if($velocityCount>1), #end$field.CreateMethodParameter()#end) {
	    // Create and execute the command
	    SqlCommand cmd = GetSqlCommand(CONNECTION_STRING_KEY, "$options.GetProcName($element.SqlEntity.Name, "Delete")", CommandType.StoredProcedure, COMMAND_TIMEOUT);

	    // Create and append the parameters
#foreach( $field in $element.GetPrimaryKeyFields() )
	    $field.CreateSqlParameter(false, false)#end
#if($element.GetPrimaryKeyFields().Count == 1 && $element.GetPrimaryKeyFields().get_Item(0).Column.Identity)

#end
	    // Execute the query and return the result
	    cmd.ExecuteNonQuery();
	    cmd.Connection.Close();
	}
#end
#if($element.SqlEntity.GenerateSelectStoredProcScript)
##Not implemented
#end

#if($element.Finders.Count > 0)

#end
#foreach($finder in $element.Finders)
	/// <summary>
#if($finder.Unique)
	/// Returns an object which matches the values for the fields specified.
#else
	/// Returns a list of objects which match the values for the fields specified.
#end
	/// </summary>
#parameterComments(true $finder.Fields "A field value to be matched.")
#if($finder.Unique)
	/// <returns>The object found.</returns>
#else
	/// <returns>The list of $options.GetDAOClassName($element.Name) objects found.</returns>
#end
	/// <exception cref="Spring2.Core.DAO.FinderException">Thrown when no rows are found.</exception>
#if($finder.Unique)
#set($s=$options.GetDOClassName($element.Name))
#else
#set($s="IList")
#end
	public static $s ${finder.Name}(#parameterList(true $finder.Fields)) {
		WhereClause filter = new WhereClause();
		OrderByClause sort = new OrderByClause("$finder.Sort");
#foreach($field in $finder.Fields)
		filter.And("$field.Column.Name", $options.GetSqlConversion($field));
#end
#if($finder.Unique)
		SqlDataReader dataReader = GetListReader(CONNECTION_STRING_KEY, VIEW, filter, sort);

		if (!dataReader.Read()) {
		    dataReader.Close();
		    throw new FinderException("$options.GetDOClassName($element.Name).$finder.Name found no rows.");
		}
		$options.GetDOClassName($element.Name) data = GetDataObjectFromReader(dataReader);
		dataReader.Close();
		return data;
#else

		return GetList(filter, sort);
#end
	}

#end
    }
}
#end