#*

        sql_view.vm - default sql view template (replaces SqlGenerator.CreateView)

*###
#if($element.GenerateSqlViewScripts)
if exists (select * from sysobjects where id = object_id(N'[$element.View]') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view [$element.View]
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [$element.View]

AS

SELECT
#foreach($column in $element.Columns)
#set($table = $element.Name)
#if($column.ForeignSqlEntity.Length>0)
#set($length = $column.Prefix.Length - 1)
#set($table = $column.Prefix.Substring(0,$length))
#end
#if($column.Expression.Length > 0)
    (${column.Expression}) $sql.Escape($column.Name)#if($velocityCount!=$element.Columns.Count),
#end	
#else
    $sql.Escape($table).#if($column.Prefix.Length==0)$sql.Escape($column.Name)#else$sql.Escape($column.Name.Substring($column.Prefix.Length)) $sql.Escape($column.Name)#end#if($velocityCount!=$element.Columns.Count),
#end
#end
#end

FROM
    $sql.Escape($element.Name)
#if ($element.Views.Count==1)
#foreach($constraint in $element.Views.get_Item(0).Constraints)
#set($length = $constraint.Prefix.Length - 1)
LEFT JOIN $sql.Escape($constraint.ForeignEntity.View) $sql.Escape($constraint.Prefix.Substring(0,$length)) on #foreach($column in $constraint.Columns)#if ($velocityCount >1) and #end${sql.Escape($element.Name)}.$sql.Escape($column.Name) = $sql.Escape($constraint.Prefix.Substring(0,$length)).$sql.Escape($column.ForeignColumn)#end

#end
#end
GO
##
##grant all on vw$element.Name to [public]
##GO
#end
