#*

        sql_view.vm - default sql view template (replaces SqlGenerator.CreateView)

*###
#if($element.GenerateSqlViewScripts)
if exists (select * from sysobjects where id = object_id(N'[vw$element.Name]') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view [vw$element.Name]
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW vw$element.Name

AS

SELECT
#foreach($column in $element.Columns)
#set($table = $element.Name)
#if($column.ForeignSqlEntity.Length>0)
#set($length = $column.Prefix.Length - 1)
#set($table = $column.Prefix.Substring(0,$length))
#end
	$sql.Escape($table).#if($column.Prefix.Length==0)$sql.Escape($column.Name)#else$column.Name.Substring($column.Prefix.Length) $column.Name#end#if($velocityCount!=$element.Columns.Count),
#end
#end

FROM
	$sql.Escape($element.Name)
#if ($element.Views.Count==1)
#foreach($constraint in $element.Views.get_Item(0).Constraints)
#set($length = $constraint.Prefix.Length - 1)
LEFT JOIN $sql.Escape($constraint.ForeignEntity) $sql.Escape($constraint.Prefix.Substring(0,$length)) on #foreach($column in $constraint.Columns)#if ($velocityCount >1) and #end${element.Name}.$column.Name = $sql.Escape(${constraint.ForeignEntity}).$column.ForeignColumn#end

#end
#end
GO
#end
