using System;

namespace $options.GetCollectionNameSpace($element.Name) {

    /// <summary>
    /// $element.Type generic collection
    /// </summary>
    public class $element.Name : System.Collections.CollectionBase {

	public static readonly $element.Name UNSET = new ${element.Name}(true);
	public static readonly $element.Name DEFAULT = new ${element.Name}(true);

	private Boolean immutable = false;

	private $element.Name (Boolean immutable) {
	        this.immutable = immutable;
	}

	public ${element.Name}() {
	}

	// Indexer implementation.
	public $element.Type this[int index] {
	    get { return (${element.Type}) List[index]; }
	}

	public void Add(${element.Type} value) {
	    if (!immutable) {
		List.Add(value);
	    } else {
		throw new System.Data.ReadOnlyException();
	    }
	}

	public Boolean Contains(${element.Type} value) {
	    return List.Contains(value);
	}
	
	public Int32 IndexOf(${element.Type} value) {
	    return List.IndexOf(value);
	}
	
	public void Insert(Int32 index, ${element.Type} value) {
	    if (!immutable) {
	    	List.Insert(index, value);
	    } else {
		throw new System.Data.ReadOnlyException();
	    }
	}

	public void Remove(int index) {
	    if (!immutable) {
		if (index > Count - 1 || index < 0) {
		    throw new IndexOutOfRangeException();
		} else {
		    List.RemoveAt(index); 
		}
	    } else {
		throw new System.Data.ReadOnlyException();
	    }
	}

	public void Remove(${element.Type} value) {
	    if (!immutable) {
		List.Remove(value); 
	    } else {
		throw new System.Data.ReadOnlyException();
	    }
	}

	public void AddRange(System.Collections.IList list) {
	    foreach(Object o in list) {
		if (o is ${element.Type}) {
		    Add((${element.Type})o);
		} else {
		    throw new System.InvalidCastException("object in list could not be cast to ${element.Type}");
		}
	    }
	}
	
	public Boolean IsDefault {
	    get { return Object.ReferenceEquals(this, DEFAULT); }
	}

	public Boolean IsUnset {
	    get { return Object.ReferenceEquals(this, UNSET); }
	}
	
	public Boolean IsValid {
	    get {
		return !(IsDefault || IsUnset);
	    }
	}

    }
}