#*

    Global C# macros that are available to all DTG templates

*#

##
## parameterComments($includeIf $fieldList $comment)
## will create documentation comments for method parameters
## 
#macro(parameterComments $includeIf $fieldList $comment)
#foreach($field in $fieldList)
#if($includeIf)
	/// <param name="$field.Column.Name">$comment</param>
#end
#end
#end

#macro(parameterList $includeIf $fieldList)
#set($separator="")#foreach($field in $fieldList)#if($includeIf)${separator}${field.CreateMethodParameter()}#set($separator=", ")#end#end
#end

#macro(imports $options $element $isDAO)
#set($found="no")
#foreach($nameSpace in $options.GetUsingNamespaces($element, $isDAO))
#if($nameSpace.StartsWith("java") && !$nameSpace.StartsWith("System") && !$nameSpace.StartsWith("Spring2"))
import $nameSpace.*;
#set($found="yes")
#end
#end
#if($found=="yes")

#end
#set($found="no")
#foreach($nameSpace in $options.GetUsingNamespaces($element, $isDAO))
#if($nameSpace.StartsWith("com.spring2") && !$nameSpace.StartsWith("System") && !$nameSpace.StartsWith("Spring2"))
import $nameSpace.*;
#set($found="yes")
#end
#end
#if($found=="yes")

#end
#set($found="no")
#foreach($nameSpace in $options.GetUsingNamespaces($element, $isDAO))
#if(!$nameSpace.StartsWith("com.spring2") && !$nameSpace.StartsWith("java") && !$nameSpace.StartsWith("System") && !$nameSpace.StartsWith("Spring2"))
import $nameSpace.*;
#set($found="yes")
#end
#end
#if($found=="yes")

#end
#end
