#*

        sql_view.vm - default sql view template (replaces SqlGenerator.CreateView)

*###
#if($element.GenerateSqlViewScripts)
if exists (select * from sysobjects where id = object_id(N'[vw$element.Name]') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view [vw$element.Name]
GO

CREATE VIEW vw$element.Name

AS

SELECT	#foreach ($column in $element.Columns)#if($column.ForeignSqlEntity.Length>0)${column.ForeignSqlEntity}.#end#if($column.Prefix.Length==0)$column.EscapedName#else$column.Name.Substring($column.Prefix.Length) $column.Name#end#if($velocityCount!=$element.Columns.Count),
	#end
#end
			
FROM
	$element.EscapedName
#if ($element.Views.Count==1)
#foreach($constraint in $element.Views.get_Item(0).Constraints)
LEFT JOIN $constraint.ForeignEntity on #foreach($column in $constraint.Columns)#if ($velocityCount >1) and #end${element.Name}.$column.Name = ${constraint.ForeignEntity}.$column.ForeignColumn#end

#end
#end

GO
#end
