<?xml version="1.0" ?>
<DataTierGenerator xmlns:xinc="http://www.w3.org/1999/XML/xinclude">
    <config-ref xinc:href="config.inc.xml" />
    <sqltypes-ref xinc:href="sqltypes.inc.xml" />
    <types-ref xinc:href="types.inc.xml" />
    <enums-ref xinc:href="enums.inc.xml" />
    <collections-ref xinc:href="collections.inc.xml" />
    <databases-ref xinc:href="databases.inc.xml" />
    <entities-ref xinc:href="entities.inc.xml" />
</DataTierGenerator>
